<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--css/js/img는 static 폴더에서부터 경로 시작하므로 (static) 생략-->
    <link href="/todo.css" rel="stylesheet">
</head>
<body>

        <div class ="todowrap"> <!--전체구역-->
            <h1> 나만의 할일 목록 </h1>
            <div class="todo_top"> <!--쓰기 구역 -->
                <input type ="text"/>
                <button type="button"> 등록 </button>
            </div>

            <div class ="todo_bottom"> <!--출력 구역 -->
                <div class="todo"> <!-- todo 항목 1개 -->
                    <div class="tcontent"> 리액트 배우기</div>
                    <div class="etcbtns">
                        <button type="button">상태변경</button>
                        <button type="button">제거하기</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/todo.js"></script>
</body>
</html>